##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved


#parse($turbineUtils.getTemplateName("validate.vm",$om.getXSIType(),$project,"edit"))
<!-- BEGIN xnat-templates/screens/xnat_imageSessionData/edit/edit.vm -->
<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
  #if($om.getProject())
   #if($om.getProject().equals(""))
window.currentProject="$!project";
   #else
window.currentProject="$!om.getProject()";
   #end
  #else
window.currentProject="$!project";
  #end

window.currentSubject="$!om.getSubjectId()";
#if($om.getSubjectData())
window.currentSubjectLabel="$!om.getSubjectData().getLabel()";
#end

window.currentLabel="$!om.getLabel()";
</script>
<style>
/* custom styles for inline instances */
.yui-skin-sam .yui-ac-input { position:static;width:20em; vertical-align:middle;}
.yui-skin-sam .yui-ac-container { width:20em;left:0px;}

/* buttons */
.yui-ac .yui-button {vertical-align:middle;}
.yui-ac .yui-button button {background: url($content.getURI("scripts/yui/build/autocomplete/assets/img/ac-arrow-rt.png")) center center no-repeat }
.yui-ac .open .yui-button button {background: url($content.getURI("scripts/yui/build/autocomplete/assets/img/ac-arrow-dn.png")) center center no-repeat}

</style>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/autocomplete/autocomplete-min.js")"></script>

$page.addAttribute("onLoad", "document.form1.month.focus();")
  #set($datatype=$om.getXSIType())
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<BR><BR><DIV class="error">$data.message</DIV><br>
#end
#if ($turbineUtils.GetPassedParameter("popup",$data))
  #set ($popup = $turbineUtils.GetPassedParameter("popup",$data) )
#else
  #set ($popup = "false")
#end
#if($vr)
<DIV class="error">Invalid parameters:<BR>$vr.toHTML()</DIV>
<HR>
#end
<br>
#if($target)

#else
  #set($target=$link.setAction("EditImageSessionAction"))
#end
#if($allowDataDeletion)

#else
  #set($allowDataDeletion=true)
#end
#set($formName="#if($om.getId()) Modify #else Add New #end $om.getSchemaElement().getSingularDescription()")
       <DIV class="edit_title">$formName</DIV><br>
<form method="post" action="$target?XNAT_CSRF=$!XNAT_CSRF" name="form1" id="form1" onsubmit="return validateForm();">
    <input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>
    #if($om.getId())
                      #parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
    #else
     <table>
                      #parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
     </table>
      #end

#set($scanTypes = [])
##parse("/screens/xnat_edit_subjectAssessorData.vm")
<hr/>
<table border="0" cellpadding=5>
  <tr>
       <th align="left">Date</th>
      <td align="left">
        <font face="$ui.sansSerifFonts">
          #set ($expt_date = $!item.getDateProperty("${om.getXSIType()}.date"))
        <select id="${om.getXSIType()}.date.month" name="${om.getXSIType()}.date.month">
          <option value="bad">(SELECT)</option>
          #foreach ($month in $months)
                #set ($monthCount = $velocityCount - 1)
                  <option value="$monthCount" #if ( $monthCount == $!expt_date.getMonth()) defaultSelected="true" selected="true" #end>
              $month
            </option>
          #end
        </select>
        </font>

        <font face="$ui.sansSerifFonts">
        <select id="${om.getXSIType()}.date.date" name="${om.getXSIType()}.date.date">
          <option value="bad">(SELECT)</option>
          #foreach ($day in $days)
                  <option value="$day" #if ( $day == $!expt_date.getDate() ) defaultSelected="true" selected="true" #end>$day</option>
          #end
        </select>
        </font>

#set($years = [ $!turbineUtils.getYear()..1990])
      #set ($currentYear = $date.Year + 1900)
      <select id="${om.getXSIType()}.date.year" name="${om.getXSIType()}.date.year" >
        <option value="bad">(SELECT)</option>
        #foreach ($year in $years)
                <option value="$year" #if ( $year == $!expt_date.getYear() + 1900 ) defaultSelected="true" selected="true" #end>$year</option>
        #end
      </select>
  </td></tr>
  <tr><th align="left">Visit ID</th>
    <td align="left">
        <font face="$ui.sansSerifFonts">
        #xdatTextBox("${datatype}.visit_id" $item "" $vr)
        </font>
    </td>
  </tr>
          #parse($turbineUtils.getTemplateName("_fields",$om.getXSIType(),$project,"upload"))
</table>

    #parse("/screens/EditProjectSpecificFields.vm")
    <br>
      <hr>
                #parse($turbineUtils.getTemplateName("scans.vm",$om.getXSIType(),$project,"edit"))
<br>
      <hr>
       <DIV class="edit_header1">Additional Notes</DIV><BR>
<TABLE>
  <tr>
    #formLabel("Notes")
    <td><textarea name="${om.getXSIType()}.note" rows="4" cols="50" style="text-align:left;">$!notes</textarea></td>
  </tr>
</TABLE><BR><BR><HR>
#xdatEditProps($item $edit_screen)

#if($isUpload)
    #auditTable("Standard upload" "Uploaded Session")
#else
    #if($om.getId())
    	#auditTable("" "Modified Session")
    #else
    		#auditTable("Standard activity." "Created Session")
		<script>YUIDOM.get('form_justification').style.display='none';</script>
    #end
#end
<input type="hidden" name="tag" value="$!tag"/>
<DIV ID="ADDIN"></DIV>
	#if($src)
	<input type="hidden" name="src" value="$!src"/>
	<input type="hidden" name="redirect" value="true"/>
	#end
      <input type="button" ONCLICK="javascript:history.go(-1)" value="Back"/>&nbsp;&nbsp;&nbsp;
      <input type="submit" name="eventSubmit_doInsert" value="Submit"/>

  </form>

<!-- END xnat-templates/screens/xnat_imageSessionData/edit/edit.vm -->
