##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<p>
<form name="form1" method="post" action="$link.setAction("ModifyItem")">
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end
<table border="0" width="400">
	<tr>
		<TH align=center colspan=2>$!item.getProperty("xdat:element_security.element_name") Details<BR><BR></TH>
		#xdatHiddenBox("xdat:element_security.element_name" $item "")
	</tr>
	<TR>
		<TD align=left>Require Secondary Password?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secondary_password" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Restrict By IP address?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure_ip" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Secure?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Secure 'Create'?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure_create" $item true $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Secure 'Read'?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure_read" $item true $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Secure 'Edit'?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure_edit" $item true $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Secure 'Delete'?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.secure_delete" $item true $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Browseable?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.browse" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is Searchable?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.searchable" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Can Quarantine?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.quarantine" $item false $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Sequence</TD>
		<TD align=left>
			#xdatTextBox("xdat:element_security.sequence" $item "0" $vr)
		</TD>
	</TR>
	<TR>
		<TD align=left>Is schema entry publicly Accessible?</TD>
		<TD align=left>
			#xdatBooleanRadio("xdat:element_security.accessible" $item true $vr)
		</TD>
	</TR>
	
	<TR>
		<TD align=left>Usage (comma-dilimited list): Which projects can use this type if not accessible?</TD>
		<TD align=left>
#xdatTextBox("xdat:element_security.usage" $item "" $vr)
		</TD>
	</TR>
	
	<TR>
		<TD align=left>Singular Name</TD>
		<TD align=left>
#xdatTextBox("xdat:element_security.singular" $item "" $vr)
		</TD>
	</TR>
	
	<TR>
		<TD align=left>Plural Name</TD>
		<TD align=left>
#xdatTextBox("xdat:element_security.plural" $item "" $vr)
		</TD>
	</TR>
	
	<TR>
		<TD align=left>Code</TD>
		<TD align=left>
#xdatTextBox("xdat:element_security.code" $item "" $vr)
		</TD>
	</TR>
	
	<TR>
		<TD align=left>Category</TD>
		<TD align=left>
#xdatTextBox("xdat:element_security.category" $item "" $vr)
		</TD>
	</TR>
	<TR><TD>&nbsp;</TD></TR>
	<TR>
		<TD align=left colspan=2>
		<TABLE>
			<TR>
				<TH colspan=4>Available Report Actions</TH>
			</TR>
			<TR>
				<TD>Remove</TD><TD>Name</TD><TD>Display Name</TD><TD>Grouping</TD><TD>Image</TD><TD>Popup</TD><TD>Secure Access</TD><TD>Additional Parameters</TD><TD>Sequence</TD>
			</TR>
			#foreach($c in [0..15] )
			<TR>
				<TD>
				#if($!item.getProperty("xdat:element_security.element_actions.element_action__${c}.xdat_element_action_type_id"))
				<INPUT TYPE="checkbox" NAME="REMOVE__${c}=xdat:element_action_type.xdat_element_action_type_id" VALUE="$!item.getProperty("xdat:element_security.element_actions.element_action__${c}.xdat_element_action_type_id")"/>
				#end
				</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.element_action_name" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.display_name" $item "" $vr)
				#xdatHiddenBox("xdat:element_security.element_actions.element_action__${c}.xdat_element_action_type_id" $item "")</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.grouping" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.image" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.popup" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.secureAccess" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.parameterString" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.element_actions.element_action__${c}.sequence" $item "" $vr)</TD>
			</TR>
			#end
			</TABLE>
		</TD>
	</TR>
	<TR><TD>&nbsp;</TD></TR>
	<TR>
		<TD align=left colspan=2>
		<TABLE>
			<TR>
				<TH colspan=4>Available Listing Actions</TH>
			</TR>
			<TR>
				<TD>Remove</TD><TD>Name</TD><TD>Display Name</TD><TD>Image</TD><TD>Popup</TD><TD>Secure Access</TD><TD>Additional Parameters</TD><TD>Sequence</TD>
			</TR>
			#foreach($c in [0..10] )
			<TR>
				<TD>
				#if($!item.getProperty("xdat:element_security.listing_actions.listing_action__${c}.xdat_element_security_listing_action_id"))
				<INPUT TYPE="checkbox" NAME="REMOVE__${c}=xdat:element_security_listing_action.xdat_element_security_listing_action_id" VALUE="$!item.getProperty("xdat:element_security.listing_actions.listing_action__${c}.xdat_element_security_listing_action_id")"/>
				#end
				</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.element_action_name" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.display_name" $item "" $vr)
				#xdatHiddenBox("xdat:element_security.listing_actions.listing_action__${c}.xdat_element_security_listing_action_id" $item "")</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.image" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.popup" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.secureAccess" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.parameterString" $item "" $vr)</TD>
				<TD>#xdatTextBox("xdat:element_security.listing_actions.listing_action__${c}.sequence" $item "" $vr)</TD>
			</TR>
			#end
			</TABLE>
		</TD>
	</TR>
	<TR><TD>&nbsp;</TD></TR>
	<TR>
		<TD align=left>
		<TABLE>
			<TR>
				<TH>Security Fields</TH>
			</TR>
			#foreach($c in [0..10] )
			<TR>
				<TD>
				#if($!item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.xdat_primary_security_field_id"))
				<INPUT TYPE="checkbox" NAME="REMOVE__${c}=xdat:primary_security_field.xdat_primary_security_field_id" VALUE="$!item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.xdat_primary_security_field_id")"/>
				#end
				</TD>
				<TD>
				#if ($vr)
					#if($vr.getField("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field"))
						<font color="red">&#8658</font>
					#end
				#end
					#if ($item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field"))
						#if($item.isPKField("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field") && (!$vr.getField("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field")))
						<input size="40" ID="psf$c" type="hidden" name="xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field" value="$item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field")"/>
						$item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field")
						#else
						<input size="40" ID="psf$c" type="text" name="xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field" value="$item.getProperty("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field")"/>
						#end
					#else
					<input size="40" ID="psf$c" type="text" name="xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field" value=""/>
					#end
				##xdatTextBox("xdat:element_security.primary_security_fields.primary_security_field__${c}.primary_security_field" $item "" $vr)</TD>
				#xdatHiddenBox("xdat:element_security.primary_security_fields.primary_security_field__${c}.xdat_primary_security_field_id" $item "")
			</TR>
			#end
			</TABLE>
		</TD>
		<TD valign="top">
			<script type="text/javascript">
			<!--
			function addField() // 1 visible, 0 hidden
			{
				var index = 0;
			    if (document.getElementById)
				{
					var elementToChange = 'psf'+index;
					while(document.getElementById(elementToChange).value!="")
					{
						index++;
						elementToChange = 'psf'+index;
					}
					document.getElementById(elementToChange).value=document.getElementById('PSF_FIELDS').value;
				}
				else if (document.all)
				{
					var elementToChange = 'psf'+index;
					while(document.all[elementToChange].value!="")
					{
						index++;
						elementToChange = 'psf'+index;
					}
					document.all[elementToChange].value=document.all['PSF_FIELDS'].value;
				}
			}
			// -->
			</script>
			<BR><BR>
			Enter a field directly in the text fields on the left, or select the field from the provided list.<BR><BR>
			<SELECT ID="PSF_FIELDS" name="PSF_FIELDS">
				#foreach($dotSyntax in $fields)
					<option value="$dotSyntax">$dotSyntax</option>
				#end
			</SELECT>
			<INPUT type="BUTTON" VALUE="ADD" NAME="ADD_FIELD" ONCLICK="addField();"/>
		</TD>
	</TR>
	#xdatEditProps($item $edit_screen)
	<TR><TD COLSPAN=2 ALIGN=center><input type="submit" name="eventSubmit_doSetup" value="Submit"/></TD></TR>
</table>
</form>
</p>