##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set ($pageName = "SearchResults.vm")
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("DefaultExptList.vm")
#set ($currentPage = $currentPage + 1)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
#parse("/screens/admin_bar.vm")
		<BR><BR>
<p>
<table border="0" width="95%">
	<tr>
		<td align=left colspan=2>
			<font face="$ui.sansSerifFonts" size="2">
				<font face="$ui.sansSerifFonts"><b>Data Type</b></font>
			</font>
			&nbsp;&nbsp;&nbsp;&nbsp;
<form name="form1" method="post" action="$link.setAction("ManageDataTypes")">
			<font face="$ui.sansSerifFonts" size="2">
				#set ( $url = $link.setPage("XDATScreen_add_xdat_element_security.vm").addPathInfo("popup","true")  ) 
				<a href="#" ONCLICK="return popupWSize('$url',800,800);"> 
				Setup Additional Data Type
				</a>
			</font>
		</td>
	</tr>
<tr><td colspan=2>
<table cellSpacing="0" cellPadding="0">
 <tr>
 <th align="left">Element</th>
 <th align="left"><A title="Term used to describe one instance of this data.">Singular</A></th>
 <th align="left"><A title="Term used to describe more then one occurrence of this data.">Plural</A></th>
 <th align="left"><A title="Short code used in the creation of IDs">Code</A></th>
 <th align="left"><A title="Whether or not unspecified users can use this data-type in its projects.">Accessible</th>
 <th align="left"><A title="Whether or not access to data of this type should be restricted.">Secured</A></th>
 <th align="left"><A title="Whether or not data of this type should be searchable.">Searchable</A></th>
 <th align="left"><A title="Whether or not data of this type should be browseable.">Browseable</A></th>
  <th align="left"><A title="The order in which data types will show up in listings.">Sequence</A></th>
 </tr>
 #set($dt_count=0)
 #set($row=0)
 #foreach($data_type in $data_types)
 #if($row==0)
  <tr>
  #set($row=1)
 #else
  <tr class="even">
  #set($row=0)
 #end
				#set ( $url = $link.setAction("DisplayItemAction").addPathInfo("search_element","xdat:element_security").addPathInfo("search_field","xdat:element_security.element_name").addPathInfo("search_value","$!data_type.getProperty('element_name')").addPathInfo("popup","true")  ) 
 <tD align="left"><A target="_blank" href="$url">$!data_type.getProperty("element_name")</A></tD>
 <tD align="left"><INPUT type="text" value="$!data_type.getProperty("singular")" ID="xdat:security/element_security_set/element_security[$dt_count]/singular" name="xdat:security/element_security_set/element_security[$dt_count]/singular" size="25"/></tD>
 <tD align="left"><INPUT type="text" value="$!data_type.getProperty("plural")" ID="xdat:security/element_security_set/element_security[$dt_count]/plural" name="xdat:security/element_security_set/element_security[$dt_count]/plural" size="25"/></tD>
 <tD align="left"><INPUT type="text" value="$!data_type.getProperty("code")" ID="xdat:security/element_security_set/element_security[$dt_count]/code" name="xdat:security/element_security_set/element_security[$dt_count]/code" size="5" maxlength="5"/></tD>
 <tD align="left"><INPUT type="checkbox" #if($!data_type.getBooleanProperty("accessible"))CHECKED#end ID="xdat:security/element_security_set/element_security[$dt_count]/accessible" name="xdat:security/element_security_set/element_security[$dt_count]/accessible" VALUE="true"/></tD>
 <tD align="left"><INPUT type="checkbox" #if($!data_type.getBooleanProperty("secure"))CHECKED#end ID="xdat:security/element_security_set/element_security[$dt_count]/secure" name="xdat:security/element_security_set/element_security[$dt_count]/secure" VALUE="true"/></tD>
 <tD align="left"><INPUT type="checkbox" #if($!data_type.getBooleanProperty("searchable"))CHECKED#end ID="xdat:security/element_security_set/element_security[$dt_count]/searchable" name="xdat:security/element_security_set/element_security[$dt_count]/searchable" VALUE="true"/></tD>
 <tD align="left"><INPUT type="checkbox" #if($!data_type.getBooleanProperty("browse"))CHECKED#end ID="xdat:security/element_security_set/element_security[$dt_count]/browse" name="xdat:security/element_security_set/element_security[$dt_count]/browse" VALUE="true"/></tD>
 <tD align="left"><INPUT type="text" value="$!data_type.getProperty("sequence")" ID="xdat:security/element_security_set/element_security[$dt_count]/sequence" name="xdat:security/element_security_set/element_security[$dt_count]/sequence" size="2" maxlength="2"/></tD>
 </tr>
 <INPUT type="hidden" value="$!data_type.getProperty("element_name")" ID="xdat:security/element_security_set/element_security[$dt_count]/element_name" name="xdat:security/element_security_set/element_security[$dt_count]/element_name"/>
 #set($dt_count=$dt_count + 1)
 #end
</td></tr>
<tr><td colspan="6" align="right">&nbsp;</td></tr>
<tr>
 <td colspan="6" align="right">
 <INPUT TYPE="submit" value="Submit"/>
 </td>
</tr>
</table>
