$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xnat-templates/layouts/ConfirmRegistration -->

<table width="100%" height="100%" valign="top" border=0>
  <tr height="10">
    <td valign="top">
      $navigation.setTemplate("/NoMenuTop.vm")
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">$screen_placeholder</DIV>
    </td>
  </tr>
  <tr height="*">
    <td valign="bottom" height="*">
      <TABLE width="100%" >
<TR>
	<TD><hr></TD>
</TR>
<TR>
	<TD valign="bottom" align="right">
		<a target="_blank" href="http://www.xnat.org/">
		<img src="$content.getURI("images/xnat_power_small.jpg")" border=0></a>
	</TD>
</TR>
</TABLE>
    </td>
  </tr>
</table>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
