<div width="100%" style="clear:left;width:100%">
<h3> You've been invited to join the following projects:</h3>

<script type="text/javascript" src="$content.getURI("scripts/project/parManager.js")"></script>
<div id="pil"></div>
</div>
<script type="text/javascript">
var parList=new PARManager("pil",{URI:serverRoot+"/REST/pars",projectBased:false});
parList.init();
</script>