<!-- Splash -->
<div>$!systemName currently contains $proj_count Projects, $sub_count Subjects, and $isd_count Imaging Sessions.
</div>
<br/>
<STYLE>
span.spacer{
height:12px;
width:1px;
}
</STYLE>
				<div id="front_search" class="yui-navset">
				</div>
				<script type="text/javascript">
				  var frontTabs=new YAHOO.widget.TabView('front_search');
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'Projects<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:projectData',
				  		  cacheData:true,
				  		  loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
				  		  active:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'Subjects<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:subjectData',
				  		  loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'MR<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:mrSessionData',
				  		  loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'PET<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:petSessionData',
				  		  loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
				  		  cacheData:true
				  }));
				  
				  frontTabs.addTab(new YAHOO.widget.Tab({
				  		  label:'CT<span class="spacer"></span>',
				  		  dataSrc:serverRoot+'/app/template/DataTypeSearch.vm/dataType/xnat:ctSessionData',
				  		  loadMethod:"POST",  //Have to set the request to POST because IE caches all GET requests even if cacheData is set to false.
				  		  cacheData:true
				  }));
				</script>
				
			<br>

<table width="100%">
 <tr>
  <td width="" valign="top">
 <DIV ID="projectsContainer" class="container">
     <DIV class="withColor containerTitle">Projects</DIV>
						     <DIV ID="projectsBody" class="containerBody">
			      #parse("/screens/minProjectsList.vm")
						     </DIV>
						 </DIV>
						  </td>
						  <td width="10">&nbsp;</td>
						  <td width="300" valign="top">
  <DIV ID="dataContainer" class="container">
     <DIV class="withColor containerTitle">Recent Data Activity</DIV>
						     <DIV ID="dataBody" class="containerBody">
						     #parse("/screens/recentExptList.vm")
						     </DIV>
						  </DIV>
						  </td>
						 </tr>
						</table>
<!-- /Splash -->