##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<a name="#top"> Frequently Asked Questions </a>
<UL>
<li> <b>Adjusting an Image </b>
	<ul>
		<li> <a href="#adjustZ"> How do I zoom an Image?</a></li>
		<li> <a href="#adjustBC"> How do I adjust brightness of an Image?</a></li>
		<li> <a href="#adjustBC"> How do I adjust contrast of an Image?</a></li>
		<li> <a href="#adjustMM"> How do I adjust Max and Min intensity of an Image?</a></li>
	</ul>
</li>
<li><a href="#printImage"> How do I print an image?</a> </li>
<li><a href="#saveImage"> How do I save a snapshot of an image?</a> </li>
<li><a href="#blankScanData"> Why are Scan and Data choices blank?</a> </li>
<li><a href="#tooSlow"> Why do some images like ASEG take more than a minute to load </a> </li>
<li><a href="#increaseJvmMemory">How do I increase memory  and avoid the error message of "Not enough memory..."? </a> </li>
<li><b> Macintosh Issues (OS ver. 9x and earlier)</b>
	<ol>
		<li> <a href="#menuInvisible"> I do not see a menu after the image loads</a></li>
		<li> <a href="#saveMac"> When I save a snapshot, files are not saved as "GIF"</a></li>
		<li> <a href="#mrjIssue"> When I try to load ASEG images, I get an error message "read/write error..." and my machine hangs</a></li>
	</ol>
</li>

<li><a href="#contact"> Whom should I contact to report a bug? </a></li>
</UL>


<h3><a name="adjustZ">How do I zoom an Image? </a></h3>
<p>
Pressing digits 1, 2 or 3 on the keyboard will zoom an image by a factor of 1, 2 or 3.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3><a name="adjustBC">How do I adjust brightness/contrast of an Image? </a></h3>
<p>
To adjust brighness/contrast of an image:
<p>	You can either
<p> Under the menu item <b>Adjust</b> on the viewer, use <b>Brightness/Contrast</b>
<p> Or
<p> Use the combination <b>Ctrl+B</b> to pop-up the brightness/contrast adjuster window
<p> Or
<p> drag the mouse over the image while pressing the left or right mouse button down
<p align="right"><small><a href="#top">Top</a></small></p>

<h3><a name="adjustMM">How do I adjust max and min intensity of an Image? </a></h3>
<p>
To adjust max and/or min intensity  of an image:
<p> Under the menu <b>Adjust</b> on the viewer, use <b>Brightness/Contrast<b>
<p align="right"><small><a href="#top">Top</a></small></p>

<h3><a name="printImage">How do I print an image? </a></h3>
<p>
	To print the image, <b>choose Print (Ctrl+P)</b> on the menu under <b>File</b>
<p align="right"><small><a href="#top">Top</a></small></p>

<h3><a name="saveImage">How do I save a snapshot of an image? </a></h3>
<p>
	To save a snapshot of the image, <b>choose Save (Ctrl+S)</b> on the menu under <b>File</b>. The image files are saved as "GIF" files.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3><a name="blankScanData">Why are Scan and Data choices blank? </a></h3>
<p>
	Scan and Data Choices are displayed for built images. The session that you chose may not have been built.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3> <a name="tooSlow"> Why do some images like ASEG take more than a minute to load? </a> </h3>
<p>
	In order to display an image, a lot of the processing is handled by your machine, the delay in displaying an image could be because of slow network and less memory on your machine.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3> <a name="menuInvisible"> I do not see a menu after the image loads </a> </h3>
<p>
	On Mac machines, the menu of the viewer will be added to the main Menu bar of the browser.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3> <a name="saveMac"> When I save a snapshot, files are not saved as "GIF"</a> </h3>
<p>
	Due to the restriction of max. 31 characters for a file name, if the name of the file is more than 31 characters, the file name is truncated. The extension and/or part of the file name may be lost due  this truncation. You should manually set the extension of the saved file.
<p align="right"><small><a href="#top">Top</a></small></p>

<h3> <a name="mrjIssue"> When I try to load ASEG images, I get an error message "read/write error..." and my machine hangs</a> </h3>
<p>
	We suspect this problem is because the JAVA/MRJ version on your Mac is MRJ 2.2.5. Please upgrade MRJ to version 2.2.6 from here
	<a href="http://docs.info.apple.com/article.html?artnum=120209"  target="_blank">MRJ 2.2.6</a>

	<p>
	In order to check the version of MRJ running on your machine, perform the following steps:

	<ol>
	<li>Open the System Folder in your Hard Disk</li>
    <li>Open the 'Extensions' folder</li>
    <li>Find and open the 'MRJ Libraries' folder (if there is no MRJ folder then you need to download and install MRJ Version 2.2.6)</li>
    <li>Select (highlight) the file 'MRJLib'</li>
    <li>Choose 'Get Info' from the File menu</li>
	<li>Check the version of MRJ you have</li>
	</ol> </p>

<p align="right"><small><a href="#top">Top</a></small></p>

<h3> <a name="increaseJvmMemory"> How do I increase memory  and avoid the error message of "Not enough memory..."?</a> </h3>
<p>
	<ul>
		<li> <b>Windows Users</b></li>
			<p> Open Control Panel
			<p> Click on Java (opens Java Control Panel)
			<p> Select Java Tab
			<p> Click on View (under Java Applet Runtime Settings)
			<p> Depending on the amount of RAM on you machine set -Xms128m -Xmx128m under the Java Runtime Parameter Column
			<p> Note: 128m above assumes that your machine has more than 128MB of physical RAM memory available.
			<p> Restart your browser
		<li> <b>Mac X Users</b></li>
			<p> Open Applications
			<p> Open Utilities
			<p> Open Java
			<p> Select Java <version number> Plugin Settings
			<p> Select the Advanced Tab
			<p> Depending on the amount of RAM on you machine set -Xms128m -Xmx128m under Java Runtime Parameter
			<p> Note: 128m above assumes that your machine has more than 128MB of physical RAM memory available.
			<p> Restart your browser
		<li> <b>Linux Users</b></li>
	</ul>
</p>
<p align="right"><small><a href="#top">Top</a></small></p>


<h3> <a name="contact"> Whom should I contact to report a bug? </a></h3>
<p>
	Email <a href="mailto:cnltech@iacmail.wustl.edu?subject=Image Viewer Assistance">CNDA Management </A>
<p align="right"><small><a href="#top">Top</a></small></p>

