#set($scanCounter=7899)
#if ($workflows.size()>0)
<A name="LINK${scanCounter}" HREF="#LINK${scanCounter}" onClick=" return blocking($scanCounter);"><img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0> <font face="$ui.sansSerifFonts" size="4" style="line-height:18px;"><b>History</b></font></a>

	<span ID="span$!scanCounter" style="position:relative; display:none;">
			<br>
			<table BORDER=1 STYLE="	border-collapse: collapse;"><tr><td>
		<table>
<tr>
	<th>Action </th> 
<th>Launch Time </th>
<th>Status </th>
<th>Note</th>
</tr>
#foreach( $workflow in $workflows ) 
<tr>
#set($scanCounter=$scanCounter + 1)
<td>									<A ONCLICK="return rpt('$workflow.getWrkWorkflowdataId()','wrk:workflowData','wrk:workflowData.wrk_workflowData_id');">$workflow.getOnlyPipelineName()</A></td>
<td> $workflow.getLaunchTime() </td>
<td>$!workflow.getStatus()</td>
<td>$!workflow.getPercentagecomplete()</td>
</tr>
#end 
<tr>
<td>									Created</td>
<td>$!om.getInsertDate()</td>
<td>Complete</td>
<td>By: $!om.getInsertUser().getLogin()</td>
</tr>
</table></td></tr></table>
	</span>
	
#if($hasActiveProcess || $hasErrorProcess)
<script type="text/javascript">
blocking(7899);
</script>
#end
#end