$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<script type="text/javascript">
document.title = "CT Session: $!item.getProperty('xnat:ctSessionData.label')";
</script>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
			#parse("screens/AutoGenWarning.vm")
