					<!--BEGIN /screens/xnat_subjectData/xnat_subjectData_resources.vm -->
<style>
/* custom styles for inline instances */
.yui-skin-sam .yui-ac-input { position:static;width:20em; vertical-align:middle;}
.yui-skin-sam .yui-ac-container { width:20em;left:0px;}

/* buttons */
.yui-ac .yui-button {vertical-align:middle;}
.yui-ac .yui-button button {background: url($content.getURI("scripts/yui/build/autocomplete/assets/img/ac-arrow-rt.png")) center center no-repeat }
.yui-ac .open .yui-button button {background: url($content.getURI("scripts/yui/build/autocomplete/assets/img/ac-arrow-dn.png")) center center no-repeat}

/* custom styles for scrolling container */ 
	#type_auto_div { 
    padding-bottom:2em; 
	}
	#type_auto_div .yui-ac-content { 
    max-height:20em;overflow:auto;overflow-x:hidden; /* set scrolling */ 
    _height:20em; /* ie6 */ 
	} 
</style>
		<script type="text/javascript" src="$content.getURI("scripts/FileViewer.js")"></script>
<script type="text/javascript">
  var obj=new Object();
  obj.uri=serverRoot + "/REST/projects/$!om.getProject()/subjects/$!om.getId()";
  
  #if ($item.canEdit($data.getSession().getAttribute("user")))
							      obj.canEdit=true;
						    #else
							      obj.canEdit=false;
	    					#end
  #if ($item.canDelete($data.getSession().getAttribute("user")))
							      obj.canDelete=true;
						    #else
							      obj.canDelete=false;
	    					#end
  obj.catalogs=new Object();
  obj.catalogs.ids=new Array();
  window.viewer=new FileViewer(obj);
    
  function showFiles(){
    window.viewer.render();
  }
</script>
<style type="text/css">   
  .icon-of { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/of.gif")) no-repeat;}
  .icon-f { display:block; font-size:11px; height: 17px; padding-left: 4px;}
  .icon-cf { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")) no-repeat;} 
  .ygtvcheck0 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check0.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck1 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check1.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck2 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check2.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
</style>
					<!--END /screens/xnat_subjectData/xnat_subjectData_resources.vm -->
