 <tr>
  <th align="left">Project</th>
  <td>
  	#if(! $!item.getProperty("project"))
  		<select id="$!item.getXSIType()/project" name="$!item.getXSIType()/project" disabled=true ></select>
  	#else
  		$!om.getProject($project,false).getDisplayID()
  		<div style="display:none">
	  		<select id="$!item.getXSIType()/project" name="$!item.getXSIType()/project" disabled=true></select>
  		</div>	
  	#end
  </td>
 </tr>
 <tr>
  <th align="left">Subject: </th>

## #if ($!subject != "")
#if (!$subject)

## #else
  #if($mr.getSubjectData())
    #set($subject=$mr.getSubjectData())
  #else
    #if($part)
      #set($subject=$part)
    #end
  #end
#end

  #if(!$subject || $!item.getProperty("project") == "")
	  <td><select id="$!item.getXSIType()/subject_id" name="$!item.getXSIType()/subject_id"></select></td>
	  #if(!$preventSubject)
	    <td><a onclick="createSubjectForm();">Add New Subject</a></td>
	  #end	  
  #else
	<td>
	$subject.getIdentifier($project,false)
  	<div style="display:none">
  	<select id="$!item.getXSIType()/subject_id" name="$!item.getXSIType()/subject_id"></select>
  	</div>
  	</td>
  #end
 </tr>
 <tr>
  <td align="left" colspan="3"><div style="color:red" id="subj_msg"></div></td>
 </tr>
#parse($turbineUtils.getTemplateName("_session.vm",$om.getXSIType(),$project,"upload"))
		<script type="text/javascript" LANGUAGE="javascript" src="$content.getURI('scripts/subjectAssessorData/proj_subj_selector.js')"></SCRIPT>






<script type="text/javascript">
var elementName="$!item.getXSIType()";
var project;

function setNewProject(obj) {
	project = document.getElementById("$!item.getXSIType()/project");
	
}
		

#if($item.getProperty('subject_id'))
#set($part_id=$item.getProperty('subject_id'))
#end

function createSubjectForm(){
	  	   	if (this.subjectForm!=undefined){
					  	     	   this.subjectForm.close();
					  	     	   this.subjectForm=null;
   	  	}
   	 	window.create_subject_link ="$link.setPage('XDATScreen_edit_xnat_subjectData.vm').addPathInfo('popup','true')";
   	 	var project = document.getElementById("xnat:mrSessionData/project").value;
   	 	if ((project == "")&&($item.user.canRead($item))&&($item.user.canEdit($item))&&($item.user.canCreate($item))&&($item.user.canActivate($item))&&($item.user.canDelete($item))){
   	 		alert('Please Add Yourself as a "Member" of the Project');
   	 		return;
   	 	}
   	 	if (project == ""){
   	 		alert('Please Select a Project First');
   	 		return;
   	 	}
window.create_subject_link+="/project/" + project + "/destination/JS_Parent_Return.vm";
   	 	 this.subjectForm=window.open(window.create_subject_link, '','width=500,height=550,status=yes,resizable=yes,scrollbars=yes,toolbar=no');
   	  	if (this.subjectForm.opener == null) this.subjectForm.opener = self;
			  	   return this.subjectForm;
	}
	
	window.success=function(subject_id){
  //window.psm("The subject you entered was stored.");
  if(this.subjectForm!=undefined){
    this.subjectForm.close();
		    this.subjectForm=null;
		  }
		  window.psm.defaultSubject=subject_id;
  window.psm.loadSubjects();
}
window.failure=function(msg){
  //window.psm.message(msg);
  if(this.subjectForm!=undefined){
    this.subjectForm.close();
		    this.subjectForm=null;
		  }
}
	
window.psm = new ProjectSubjectSelector("$!item.getXSIType()/project","$!item.getXSIType()/subject_id",null,"$!project","$!part_id");
window.psm.init();


function stringTrim(str)
{
   return str.replace(/^\s*|\s*$/g,"");
}
var w=window;

</script>
	<INPUT type="hidden" name="ELEMENT_0" value="$!item.getXSIType()"/>
